.contact-list .seprate-section{
    background-color:rgba(2, 1, 58, 0.452);
    margin-top: 35px;
    padding:10px;
    border-radius: 25px;
}
.seprate-section{
    margin: 35px;
}
.contact-list form input{
    outline: none;
    background: rgba(11, 6, 80, 0.335);
    border: none;
    height: 35px;
    width: 280px;
    border-radius:30px;
    font-size: 16px;
    padding-left: 20px;
    color: aliceblue;
}
.seprate-section-bottom{
    background-color: rgb(3, 1, 34);
    padding: 30px;
}
.seprate-section-bottom button{
    background-color: rgb(251, 225, 76);
    padding: 12px 20px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.5s;
}
.seprate-section-bottom button:hover{
    cursor: pointer;
    background-color: rgb(12, 1, 1);
    color: rgb(221, 207, 14);
    border: 1px solid yellow;
}