*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
body {
   background-image: url(../image/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}
img{
    border-radius: 50%;
    width:40px;
    height: 40px;
}
.container{
    width:457px;
    margin: 0 auto;
    box-sizing: border-box;
}
.top{
    background-image: linear-gradient(to bottom right,rgba(197, 6, 6, 0.835), rgb(255, 0, 55), rgba(102, 255, 0, 0.63));
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 25px 20px;
    box-sizing: border-box;
    /* box-shadow: 2px 2px 10px; */
}
.search-contact {
    display: flex;
    flex-direction:column;
}
.search-contact h3{
    color: #fff;
    font-size: 2.5em;
    margin-top:20px;
}
.search-contact p{
    /* background-color: #fff; */
    margin-top: 20px;
    font-size: 20px;
}
.container{
    width:457px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(1, 3, 29, 0.829);
    height: 100vh;
}

.pad-row{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    padding: 20px 50px;
}
.pad-row img{
    width: 80px;
    height: 80px;
}
.dial-inner-pad{
   margin-top: 80px;
}
.pad-row input{
    /* background-color: red; */
    width: 100%;
    line-height: 80px;
    outline: none;
    border: none;
    font-size: 35px;
    text-align: center;
}