.contact-box{
    padding: 50px 10px;
}
.contact-box h3{
    font-size: 35px;
    margin-bottom:20px;
}
.contact-box p{
    font-size: 16px;
    margin-bottom:20px;
}
.contact-box form{
    margin: 30px 10px;
    font-size:18px;
}

form input{
  padding:10px 20px;
  margin: 10px;
  font-size:14px;
  background-color: #fff;
  color:red;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

form input:hover{
    background-color:red;
    color: #fff;
}