*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
body {
   background-image: url(../image/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}
img{
    border-radius: 50%;
    width:40px;
    height: 40px;
}
.container{
    width:457px;
    margin: 0 auto;
    box-sizing: border-box;
}
.top{
    background-image: linear-gradient(to bottom right,rgba(197, 6, 6, 0.835), rgb(255, 0, 55), rgba(102, 255, 0, 0.63));
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 25px 20px;
    box-sizing: border-box;
    /* box-shadow: 2px 2px 10px; */
}
.search-contact {
    display: flex;
    flex-direction:column;
}
.search-contact h3{
    color: #fff;
    font-size: 2.5em;
    margin-top:20px;
}
.search-contact p{
    /* background-color: #fff; */
    margin-top: 20px;
    font-size: 20px;
}
.search-contact form{
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    display: flex;
    margin-top:10px
}
.search-contact form input[type="search"]{
    /* background-color: re; */
    outline: none;
    border: none;
    margin-left: 15px;
    font-size:20px
}
.contact-list{
    background-color: rgba(1, 3, 29, 0.829);
    color: #fff;
    text-align: center;
    /* height: 85vh; */
}
.contact-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 30px;
}

.contact-inner h3{
    font-size: 22px;
    padding:10px 20px;
    text-transform: capitalize;
}
.contact-inner p{
    box-shadow: .1px .1px 2px rgba(155, 150, 230, 0.26); 
    padding:10px;
    transition: all 0.5s;
    border-radius: 18px;
    text-transform: capitalize;
}
.contact-inner p:hover{
    background-color: rgb(7, 6, 56);  
}
.contact-inner .icon img{
    margin: 0 5px; 
}
.contact-inner .left-contact{
    color: #fff;
    text-transform: capitalize;
}